.gpt3__cta { display: flex; justify-content: space-between; align-items: center; flex-direction: row; padding: 2rem; margin: 0 auto; margin-top: 4rem; margin-bottom: 4rem; border-radius: 1rem; background: var(--gradient-bar); max-width: 76%; transition: 0.2s; }
.gpt3__cta:hover { transform: scale(1.01); transition: 0.2s; }
.gpt3__cta-content p { font-family: var(--font-family); font-weight: 500; font-size: 15px; line-height: 30px; color: #0E0E0E; }
.gpt3__cta-content h3 { font-family: var(--font-family); font-weight: 800; font-size: 26px; line-height: 45px; color: #000000; }
.gpt3__cta-btn button { padding: 0.5rem 1.5rem; background: #000000; border-radius: 40px; font-family: var(--font-family); font-weight: 700; font-size: 18px; line-height: 30px; color: #FFFFFF; border: none; outline: 0; cursor: pointer; transition: 0.2s; }
.gpt3__cta-btn button:hover { transition: 0.2s; color: #aa5cff; }

@media screen and (max-width: 650px) {
    .gpt3__cta { flex-direction: column; }
    .gpt3__cta-button { margin: 2rem 0 0; }
}
@media screen and (max-width: 550px) {
    .gpt3__cta { margin-top: 3rem; text-align: center; max-width: 90%; }
    .gpt3__cta-content p { margin-bottom: 1rem; font-size: 13px; }
    .gpt3__cta-content h3 { font-size: 18px; line-height: 32px; }
    .gpt3__cta-button button { font-size: 14px; line-height: 28px; }
}