.gpt3__blog { display: flex; flex-direction: column; padding-top: 0.25rem; }
.gpt3__blog-heading { width: 76%; text-align: left; margin-bottom: 5rem !important; margin: 0 auto; }
.gpt3__blog-heading h1 { font-family: var(--font-family); font-weight: 800; font-size: 62px; line-height: 75px; letter-spacing: -0.04em; background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; }
.gpt3__blog-container { display: flex; flex-direction: row; }
.gpt3__blog-container_groupA { flex: 0.75; margin-right: 4rem; justify-items: center; }
.gpt3__blog-container_groupB { flex: 1; display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 4rem; justify-items: center; }

@media screen and (max-width: 990px) {
    .gpt3__blog-container { flex-direction: column-reverse; }
    .gpt3__blog-container_groupA { margin: 2rem 0; }
    .gpt3__blog-container_groupA .gpt3__blog-container_article { width: 48%; }
    .gpt3__blog-container_groupA .gpt3__blog-container_article-image { height: 250px; }
}

@media screen and (max-width: 700px) {
    .gpt3__blog-container_groupB { grid-template-columns: repeat(1, 1fr); }
    .gpt3__blog-container_groupA .gpt3__blog-container_article { width: 100% }
    .gpt3__blog-heading h1 { font-size: 46px; line-height: 52px; }
}

@media screen and (max-width: 550px) {
    .gpt3__blog-heading { width: 90%; margin-bottom: 3rem !important; margin-top: -2rem !important; }
    .gpt3__blog-heading h1 { font-size: 30px; line-height: 42px; }
    .gpt3__blog-container_groupA { display: grid; margin: 1rem 0; }
    .gpt3__blog-container_groupB { grid-gap: 1rem; }
    .gpt3__blog { padding-bottom: 1rem; padding-top: 0rem; }
}
