.gpt3__possibility {
    display: flex;
    flex-direction: row;
    padding-top: 0px !important;
}
.gpt3__possibility-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}
.gpt3__possibility-image img {
    width: 100%;
    height: 100%;
}
.gpt3__possibility-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.gpt3__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    
    
    color: #71E5FF;
}
.gpt3__possibility-content h4:last-child {
    color: #FF8A71;
    margin-top: 1.5rem;
    
}
.gpt3__possibility-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 42px;
    line-height: 45px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 1rem 0;
}
.gpt3__possibility-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #81AFDD;
}

@media screen and (max-width: 950px) {
    .gpt3__possibility {
        flex-direction: column;
    }
    .gpt3__possibility-image {
        margin: 1rem 0;
    }
    .gpt3__possibility-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__possibility-content h1 {
        font-size: 28px;
    }
}